/* body
{
    background-image: url("https: //static.ptocdn.net/especiales/lot176_ado-2025/img/banner-desk-min.jpg");
    background-size: contain;
    background-repeat: repeat;
} */

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

body
{
    background-image: url("https://static.ptocdn.net/especiales/lot176_ado-2025/img/banner-desk-min.jpg");
    background-size: cover;

    /* background-color: red; */
}

@media (max-width: 1300px)
{
    .image-lateral
    {
        display: none;
        width: 100%;
    }
}

@media (min-width: 1301px)
{
    .image-lateral
    {
        display: flex;
        width: 100%;
    }
}

h5
{
    font-size: 18px;
}

.card-spotify
{
    min-width: 230px;
    min-height: 450px;

    max-width: 260px;
    max-height: 460px;
}